body{
  background-color: #8e0e00;
  color : #000;
  }
  #i1{
    padding: 60px 450px;

  }
div.c1{
  border-top-left-radius:  25px;
  border-top-right-radius: 25px;
  background-color: #000;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-size: 20px;
}
article{
  background-color: #fff;
  padding: 20px 20px 30px 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #000;
}
#i2:focus{
    border-color: Aqua;
}
input{
  padding: 5px;
  font-size: 15px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}
select{
  padding: 13px;
  font-size: 25px;
}
button{
  background-color: #8e0e00;
   padding: 10px 40px;
   font-size:20px;
   font-weight: bold;
   color: #fff;
 border-radius: 4px;
}
button:hover{
  background-color: #00008f;
}
b{
  line-height: 0.5;
  font-size: 25px;
}
